.checkoutProduct{
    display: flex;
    margin : 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    overflow: hidden; 
    background: white;
    transition: all .5s ease; 
}

.checkoutProduct-image{
    width: 180px;
    height:180px;
    object-fit: contain;
}

.checkoutProduct-info{
    padding-left: 20px;
}
.checkoutProduct-title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88743 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    /* padding: 5px; */
}
.checkoutProduct-rating{
    display: flex;
    margin: 10px 0;
    background-color: transparent;
}