.product{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    max-height: 400px; 
    height:fit-content;
    align-items: center; 
    justify-content: flex-end;
    background-color: white;    
    z-index: 1;
    border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background: white;
  transition: all .5s ease;

}


.product-info {
    display: block;
    height: 300px;
    margin-bottom: 15px;
}

.product-rating{
    display: flex;
}
.product-price {
    margin-top: 5px;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88743 #9c7e31 #846a29;
    color: #111;
    padding: 5px;
    border-radius: 3px;
    width: 30%;
}
