.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 20px;
}

.subtotal-gift {
  display: flex;
  align-items: center;
}
.subtotal button {
  background-color: #f0c14b;
  border-radius: 2px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88743 #9c7e31 #846a29;
  color: #111;
}
